server:
  host: 0.0.0.0
  port: 8080

slack:
  appToken: ''
  botToken: ''

logging:
  level: info

runner:
  infra:
    type: kubernetes
    kubernetes:
      namespace: code-bridge-runner
      image: code-bridge-runner
      podSpec:
      containers:
      - name: main
        imagePullPolicy: IfNotPresent
        envFrom:
        - secretRef:
            name: code-bridge-runner-env
  apiServerURL: http://code-bridge-server.code-bridge-system.svc.cluster.local:8080

database:
  type: firestore
  firestore:
    projectId: ''
    databaseId: ''

storage:
  type: gcs
  gcs:
    bucket: ''

github:
  auth:
  - type: static
    static:
      token: ''
      slackUserIds:
        - U...
  - type: installation
    installation:
      appId: 
      installationId: 
      clientId: ''
      clientSecret: ''
      privateKey: |
        -----BEGIN RSA PRIVATE KEY-----
        ...
        -----END RSA PRIVATE KEY-----
      repositories:
        - repositoryId: 1
          slackUserIds:
            - U...
  